	<div class="row">

		<form class="col s12">

				<div class="input-field">
					<input type="text" id="recipeName" ng-model="name" />
					<label for="recipeName">Recipe Name:</label>
				</div>

				<div class="input-field" ng-repeat="ingredient in ingredients">
					<input type="text" id="ingredient1" ng-model="ingredient.name" />
					<label for="ingredient1">Ingredient:</label>
				</div>

				<div class="input-field">
					<textarea class="materialize-textarea" id="instructions" ng-model="instructions" ></textarea>
					<label for="instructions">Instructions:</label>
				</div>

				<button class="waves-effect waves-light btn center-block" ng-click="addRecipe()">Add Recipe</button>

		</form>

	
	</div>

